@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<body>
    <br /><br />
    <center><h1 style="color:blueviolet">Witaj w aplikacji Quiz</h1></center>
    <center><h1 style="color:crimson">Aby przejść do menu zaloguj się, bądź jeżeli nie masz jeszcze konta to zarejestruj się.</h1></center>
</body>

