@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url(https://appforskills1.blob.core.windows.net/background/BackgroundMVC.png);
            background-size: cover;
            margin-left: -100px;
            background-repeat: no-repeat;
        }

    </style>
</head>
<body>
    <center><h1 style="color:white; margin-left: -500px">Witaj w aplikacji Quiz</h1></center>
    <center><h1 style="color: white; margin-left: -500px">Aby przejść do menu zaloguj się,<br /> bądź jeżeli nie masz jeszcze konta to zarejestruj się.</h1></center>
</body>

</html>

