
@{
    ViewData["Title"] = "ShowMenuForUser";
}
<div>
    <center><h1>Menu Główne</h1></center>
    <br />
    <br /><br />
    <center>
        <div class="btn btn-danger btn-lg">
            <h2><a style="color:white" class="text-decoration-none" asp-controller="CategoryAndQuestion" asp-action="ShowCategories">Zagraj</a></h2>
        </div><br /><br />
        <div class="btn btn-success btn-lg">
            <h2><a style="color:white" class="text-decoration-none" asp-controller="CategoryAndQuestion" asp-action="AddNewCategory">Dodaj nową kategorię</a></h2>
        </div><br /><br />
        <div class="btn btn-primary btn-lg">
            <h2><a style="color:white" class="text-decoration-none" asp-controller="CategoryAndQuestion" asp-action="AddNewQuestion">Dodaj nowe pytanie do istniejącej kategorii</a></h2>
        </div><br /><br />
        <div class="btn btn-info btn-lg">
            <h2><a style="color:white" class="text-decoration-none" asp-controller="UsersRolesAndScores" asp-action="GetAllScores">Pokaż najlepsze wyniki</a></h2>
        </div><br /><br />
    </center>

    @if (!User.IsInRole("User"))
    {
        <div class="btn btn-dark btn-lg">

            <h3><a style="color:white" class="text-decoration-none" asp-controller="Home" asp-action="Index">Powrót to ekranu głównego</a></h3>
        </div>
    }
    </div>

