@model QuizMVC.Application.CategoryAndQuestionVm.ListOfCategoriesVm

@{
    ViewData["Title"] = "ShowCategories";
}

<center><h1 style="color:darkmagenta">Aktualnie istniejące kategorie</h1></center>

<p>
    <a class="btn btn-warning" asp-action="ShowQuestion">Kliknij, aby wylosować kategorię i pytanie</a>
</p>
<table class="table table-striped">
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="ShowMenuForUser">Powrót do menu głównego</a>
</div>